<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DocList</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

      <script src="https://unpkg.com/htmx.org @1.7.0"></script>
</head>
<body>

    <h1>DocList</h1>

    {% for collection in collections %}
        <h2>{{ collection.name | safe }}</h2>
    {% endfor %}


    <form method="POST" action="{% url 'add-collection' %}">{% csrf_token %}

        <input type="text" name="collection-name" id="">
        <button type="submit ">envoyé</button>

    </form>

</body>
</html>